{{! Previous/next page links - only displayed on page 2+ }}

<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<article data-sr class="{{post_class}}">   
    <header class="post-header">
         {{#if featured}}
                <span class="post-stub-tag">
  <span class="glyphicon glyphicon-star" aria-hidden="true">Featured</span> </span>
            {{/if}}
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
<table>
  <tr>
       
    <div><section class="post-excerpt">
        <p>{{excerpt words="16"}} </p><p><br></p><p class="read-more"><a class="read-more"></p>
    </section></div>
           {{author}}   
        {{tags prefix=" on "}}
       <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
   
  </tr>
    
</table>     
         
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
