<link href="{{asset "css/site.css"}}" rel="stylesheet" />
<link href="{{asset "css/photoswipe.css"}}" rel="stylesheet" />
<link href="{{asset "css/default-skin/default-skin.css"}}" rel="stylesheet" />
<script src="{{asset "js/photoswipe.min.js"}}"></script>
<script src="{{asset "js/photoswipe-ui-default.min.js"}}"></script>

	<div data-sr class="container main-container" "section section--head">
        <div class="row row--heading">
			<h1>PhotoZwipe<span> 4.0&beta;</span></h1>
			<p>Cool - fast, flexible, smart</p>
	    </div>
    <div id="photoswipe" class="row">            
            <div id="demo-test-gallery" class="demo-gallery">
              
               
              
              <a href="../assets/images/full/image4.jpg" data-size="1280x853" data-title="Old wood" data-author="Folkert Gorter" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur dui at tempor elementum. Aenean convallis metus nec nibh varius hendrerit."><img src="../assets/images/thumb/thumb4.jpg" alt="Thumbnail I" /><figure>This is old wood.</figure></a>
	   
              <a href="http://www.ucarecdn.com/37f66a4d-5b05-43ce-87d2-98eb247cdfc2/4e769802.jpg" data-size="1920x1260" data-author="Folkert Gorter" class="gallery-main"><img width="240" src="http://www.ucarecdn.com/37f66a4d-5b05-43ce-87d2-98eb247cdfc2/4e769802.jpg" alt="Image 001" /> <figure>This is not dummy caption.</figure></a>
                
                     <a href="http://www.ucarecdn.com/37f66a4d-5b05-43ce-87d2-98eb247cdfc2/4e769802.jpg" data-size="1920x1260" data-author="Folkert Gorter" class="gallery-main"><img width="1080" src="http://www.ucarecdn.com/37f66a4d-5b05-43ce-87d2-98eb247cdfc2/4e769802.jpg" alt="Image 001" /> <figure>This is not dummy caption.</figure></a>
              
              <a href="http://www.ucarecdn.com/f2c2aa1e-5eac-42ca-b192-28cabdfe447c/sigmund.jpg" data-size="1197x690" data-author="Folkert Gorter" class="demo-gallery__img--main"><img width="120" src="http://www.ucarecdn.com/f2c2aa1e-5eac-42ca-b192-28cabdfe447c/sigmund.jpg" alt="Image 002" /> <figure>This is not dummy caption.</figure></a>
                
             <a href="../assets/images/portfolio-03.jpg" data-size="720x400" data-med="../assets/images/portfolio-03.jpg" data-med-size="1024x1024" data-author="Folkert Gorter" class="demo-gallery__img--main">
	          <img src="../assets/images/portfolio-small03 copy.jpg" alt="" />
	          <figure>This is dummy caption.</figure>
	        </a>

	        <a href="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" data-size="1600x1600" data-med="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" data-med-size="1024x1024" data-author="Folkert Gorter" class="demo-gallery__img--main">
	          <img src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_m.jpg" alt="" />
	          <figure>This is dummy caption.</figure>
	        </a>

	        <a href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg" data-size="1600x1068" data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg" data-med-size="1024x683" data-author="Samuel Rohl">
	          <img src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_m.jpg" alt="" />
	          <figure>This is dummy caption.</figure>
	        </a>

	        <a href="https://farm4.staticflickr.com/3902/14985871946_24f47d4b53_h.jpg" data-size="1600x1067" data-med="https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_b.jpg" data-med-size="1024x683" data-author="Ales Krivec">
	          <img src="https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_m.jpg" alt="" />
	          <figure>This is dummy caption. It is not meant to be read.</figure>
	        </a>

	        <a href="https://farm6.staticflickr.com/5584/14985868676_b51baa4071_h.jpg" data-size="1600x1067" data-med="https://farm6.staticflickr.com/5584/14985868676_4b802b932a_b.jpg" data-med-size="1024x683" data-author="Michael Hull">
	          <img src="https://farm6.staticflickr.com/5584/14985868676_4b802b932a_m.jpg" alt="" />
	          <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
	        </a>

	        <a href="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-size="1600x1067" data-med="https://farm4.staticflickr.com/3920/15008465772_383e697089_b.jpg" data-med-size="1024x683" data-author="Thomas Lefebvre">
	          <img src="https://farm4.staticflickr.com/3920/15008465772_383e697089_m.jpg" alt="" />
	          <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
	        </a>

	      </div>
	      <!-- <figure class="demo-gallery__title">Demo gallery &middot; 5 photos</figure> -->

	   <!--    <div class="style-select">
	        	<p style="margin:24px 0 12px;color:#444;">Demo gallery style</p>

				<div class="radio">
		        	<input type="radio" name="gallery-style" value="all" id="radio-all-controls" checked />
		        	<label for="radio-all-controls">
			          	
			          	All controls<br/>
			         	<span>caption, share and fullscreen buttons, tap to toggle controls</span>
		        	</label>
	        	</div>

				<div class="radio">
					<input type="radio" name="gallery-style" value="minimal" id="radio-minimal-black" />
		        	<label for="radio-minimal-black">
						
		          		Minimal<br/>
		          		<span>no caption, transparent background, tap to close</span>
		          	</label>
	          	</div>

	      </div> 

	     -->

	    </div>

	</div>
    

    <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">

          <div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
          </div>

          <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

				<div class="pswp__counter"></div>

				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

				<button class="pswp__button pswp__button--share" title="Share"></button>

				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
					  <div class="pswp__preloader__cut">
					    <div class="pswp__preloader__donut"></div>
					  </div>
					</div>
				</div>
            </div>


			<!-- <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div> -->

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
	            <div class="pswp__share-tooltip">
					<!-- <a href="#" class="pswp__share--facebook"></a>
					<a href="#" class="pswp__share--twitter"></a>
					<a href="#" class="pswp__share--pinterest"></a>
					<a href="#" download class="pswp__share--download"></a> -->
	            </div>
	        </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
              <div class="pswp__caption__center">
              </div>
            </div>
          </div>

        </div>


    </div>
    
 <script type="text/javascript"> 
    !function(){var t=function(t){for(var e=function(t){for(var t,e,n,r,i=t.childNodes,a=i.length,o=[],l=0;a>l;l++)if(t=i[l],1===t.nodeType){e=t.children,n=t.getAttribute("data-size").split("x"),r={src:t.getAttribute("href"),w:parseInt(n[0],10),h:parseInt(n[1],10),author:t.getAttribute("data-author")},r.el=t,e.length>0&&(r.msrc=e[0].getAttribute("src"),e.length>1&&(r.title=e[1].innerHTML))
var d=t.getAttribute("data-med")
d&&(n=t.getAttribute("data-med-size").split("x"),r.m={src:d,w:parseInt(n[0],10),h:parseInt(n[1],10)}),r.o={src:r.src,w:r.w,h:r.h},o.push(r)}return o},n=function u(t,e){return t&&(e(t)?t:u(t.parentNode,e))},r=function(t){t=t||window.event,t.preventDefault?t.preventDefault():t.returnValue=!1
var e=t.target||t.srcElement,r=n(e,function(t){return"A"===t.tagName})
if(r){for(var i,o=r.parentNode,l=r.parentNode.childNodes,d=l.length,s=0,u=0;d>u;u++)if(1===l[u].nodeType){if(l[u]===r){i=s
break}s++}return i>=0&&a(i,o),!1}},i=function(){var t=window.location.hash.substring(1),e={}
if(t.length<5)return e
for(var n=t.split("&"),r=0;r<n.length;r++)if(n[r]){var i=n[r].split("=")
i.length<2||(e[i[0]]=i[1])}return e.gid&&(e.gid=parseInt(e.gid,10)),e.hasOwnProperty("pid")?(e.pid=parseInt(e.pid,10),e):e},a=function(t,n,r){var i,a,o,l=document.querySelectorAll(".pswp")[0]
o=e(n),a={index:t,galleryUID:n.getAttribute("data-pswp-uid"),getThumbBoundsFn:function(t){var e=o[t].el.children[0],n=window.pageYOffset||document.documentElement.scrollTop,r=e.getBoundingClientRect()
return{x:r.left,y:r.top+n,w:r.width}},addCaptionHTMLFn:function(t,e){return t.title?(e.children[0].innerHTML=t.title+"<br/><small>Photo: "+t.author+"</small>",!0):(e.children[0].innerText="",!1)}}
for(var d=document.getElementsByName("gallery-style"),s=0,u=d.length;u>s;s++)if(d[s].checked){"radio-all-controls"==d[s].id||"radio-minimal-black"==d[s].id&&(a.mainClass="pswp--minimal--dark",a.barsSize={top:0,bottom:0},a.captionEl=!1,a.fullscreenEl=!1,a.shareEl=!1,a.bgOpacity=.85,a.tapToClose=!0,a.tapToToggleControls=!1)
break}r&&(a.showAnimationDuration=0),i=new PhotoSwipe(l,PhotoSwipeUI_Default,o,a)
var c,p,h=!1,g=!0
i.listen("beforeResize",function(){var t=window.devicePixelRatio?window.devicePixelRatio:1
t=Math.min(t,2.5),c=i.viewportSize.x*t,c>=1200||!i.likelyTouchDevice&&c>800||screen.width>1200?h||(h=!0,p=!0):h&&(h=!1,p=!0),p&&!g&&i.invalidateCurrItems(),g&&(g=!1),p=!1}),i.listen("gettingData",function(t,e){h?(e.src=e.o.src,e.w=e.o.w,e.h=e.o.h):(e.src=e.m.src,e.w=e.m.w,e.h=e.m.h)}),i.init()},o=document.querySelectorAll(t),l=0,d=o.length;d>l;l++)o[l].setAttribute("data-pswp-uid",l+1),o[l].onclick=r
var s=i()
s.pid>0&&s.gid>0&&a(s.pid-1,o[s.gid-1],!0)}
t(".demo-gallery")}()
</script>