

<figure class="navi-down">
    <nav class="nav center">
         <ul>
  {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
			<li><a href="{{@blog.url}}">&#9776; Our Blog</a></li>
			<li><a href="/about">&#9776; About us</a></li>
			<li><a href="/photoswipe">&#9776; PhotoZwipe</a></li>
            <li><a href="{{@blog.url}}/tag/tips">&#9776; Portfolio</a></li> 
            <li><a href="/contact">&#9776; Contact</a></li>      
 
            <li><a href="{{@blog.url}}/tag/en">en |</a></li>
            <li><a href="{{@blog.url}}/tag/zh">zh |</a></li>
            <li><a href="{{@blog.url}}/tag/dk">dk |</a></li>
         </ul>	
	</nav>
</figure>

